<%- include("navbar.ejs") %>

<link rel="stylesheet" href="/css/treatment.css">


<section class="hero-section bg-body-secondary py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-start text-center">
                <h1 class="p-5 fw-bold">Treatments</h1>

                <!-- Breadcrumb -->
                <h4 class="breadcrumb-title mb-4">
                    Home <span class="mx-2">›</span>
                    <a href="#" class="text-decoration-none">Treatments</a>
                </h4>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="card card-body treatment-card p-5 border-1">
                <i class="fa-solid fa-microscope fs-1 pb-4 treatment-icon"></i>
                <h3>In Vitro Fertilization (IVF)</h3>
                <p class="pt-3 pb-3">
                    In Vitro Fertilization (IVF) Lab fertilization of eggs for a
                     higher success rate.
                </p>
                <a href="#" class="fs-4 treatment-link">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            </div>
              <div class="col-md-4">
                <div class="card card-body treatment-card p-5 border-1">
                <i class="fa-solid fa-egg fa-snowflake fs-1 pb-4 treatment-icon"></i>
                <h3>Egg Freezing</h3>
                <p class="pt-3 pb-3">
                    Preserve your eggs today to protect your fertility for the future.
                </p>
                <a href="#" class="fs-4 treatment-link">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            </div>
              <div class="col-md-4">
                <div class="card card-body treatment-card p-5 border-1">
                <i class="fa-solid fa-seedling fs-1 pb-4 treatment-icon "></i>
                <h3>Embryo Freezing</h3>
                <p class="pt-3 pb-3">
                    High-quality embryos from IVF are frozen for future use.
                </p>
                <a href="#" class="fs-4 treatment-link">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            </div>
            
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="card card-body treatment-card p-5 border-1">
                <i class="fa-solid fa-microscope fs-1 pb-4 treatment-icon"></i>
                <h3>Fertility Preservation</h3>
                <p class="pt-3 pb-3">
                    Egg, sperm, or embryo freezing options for patients.
                </p>
                <a href="#" class="fs-4 treatment-link">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            </div>
              <div class="col-md-4">
                <div class="card card-body treatment-card p-5 border-1">
                    <i class="fa-solid fa-dna fs-1 pb-4 treatment-icon"></i>
                <h3>PGT (Genetic Testing)</h3>
                <p class="pt-3 pb-3">
                    Screen embryos for genetic conditions to ensure normal and healthy development.
                </p>
                <a href="#" class="fs-4 treatment-link">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            </div>
              <div class="col-md-4">
                <div class="card card-body treatment-card p-5 border-1">
                    <i class="fa-solid fa-heart-circle-plus fs-1 pb-4 treatment-icon"></i>
                <h3>Donor Programs</h3>
                <p class="pt-3 pb-3">
                    Donor egg and sperm options for higher success rates.
                </p>
                <a href="#" class="fs-4 treatment-link">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-section bg-body-secondary text-dark py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center ">

        <h2 class="fw-bold mb-3">
          Book Your Appointment Today!
        </h2>

        <p class="mb-4 fs-5">
          Take the first step towards better care with our expert team.
        </p>

        <a href="#appointment" class="btn btn-primary fw-bold px-4">
          Book Appointment
        </a>

      </div>
    </div>
  </div>
</section>



<%- include("footer.ejs") %>